*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: aliceblue;
    padding: 2%;
}

ul li{
    list-style: none;
    display: inline;
}

ul li a{
    text-decoration: none;
    color: black;
}

ul li:nth-child(2) a{
    margin-left: 10%;
}

ul li:last-child{
    margin-left: 20%;
}

ul li:nth-child(3) a,
ul li:nth-child(4) a,
ul li:nth-child(5) a,
ul li:nth-child(6) a{
    margin-left: 2%;
}

section article{
    background-color: gold;
    padding: 2%;
}

h1, h2, h3, h4{
    margin-bottom: 2%;
    text-transform: uppercase;
    font-family: "Arial";
    color: white;
}

h1{
    font-size: 24pt;
}

h2, h3, h4{
    font-size: 18pt;
}

ol li{
    list-style: none;
}

footer{
    background-color: aliceblue;
    padding: 2%;
}

footer article:first-child{
    float: left;
}

footer article:nth-child(2){
    margin-left: 80%;
}

footer p{
    font-size: 9pt;
    margin-top: 2%;
}